<div class="event">
  <h2><%= event_master.title %></h2>
  <p><%= event_master.description %></p>
  <td><%= image_tag event_master.image.url(:thumb) %></td>
  <td><%= link_to 'Show', list_event_master_path(event_master) %></td>
</div>